
body{
    background-color: red;
}
#div2{
    height:300px;
    width:500px;
    background-color: blue;
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;


}
.btn{
    height: 40px;
    width:200px;
    background-color: aquamarine;
    margin: auto;
}
#authors{
    margin-top: 40px;
    margin-left:60% ;
}
#qutes{margin-top: 80px;
    font-size: 20px;
}